/* Removes default padding and margin from every element */

* {
    margin: 0;
    padding: 0;
}

body {
    height: 1000px;
}

/* Dark Mode swap */

body > label {
    position: fixed;
    z-index: 10;
    padding: 15px 0 15px 0;
    right: 30px;
    animation-name: nav-enter;
    animation-duration: 1s;
}

body > label:hover {
    cursor: pointer;
}

body > label:active {
    animation-name: border-shrink;
    animation-duration: 0.5s;
}

#switch {
    display: none;
}

#switch:checked+label > img {
    filter: invert(1);
}

#switch:checked~nav {
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(58,58,58) 100%);
}

#switch:checked~nav > section:first-of-type {
    color: cornsilk;
}

#switch:checked~nav > section:first-of-type > div:last-of-type > img {
    filter: invert(1);
}

#switch:checked~nav > section:last-of-type {
    filter: invert(1);
}

#switch:checked~header > div {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: black;
    opacity: 0.18;
}

#switch:checked~header > input::placeholder {
    color: black;
}

#switch:checked~main > section:nth-of-type(1) {
    background-color: black;
}

#switch:checked~main > section:nth-of-type(1) > article > div {
    background: linear-gradient(180deg, rgb(160, 43, 0) 0%, rgba(0,0,0,1) 100%);
    color: cornsilk;
}

#switch:checked~main > section:nth-of-type(2) {
    background: linear-gradient(200deg, rgba(58,58,58,1) 0%, rgba(0,0,0,1) 100%);
    color: honeydew;
}

#switch:checked~main > section:nth-of-type(2) > img {
    opacity: 0.8;
}

#switch:checked~main > section:nth-of-type(3) {
    box-shadow: 1px 1px 50px floralwhite;
    background-color: rgb(39, 39, 39);
    color: gainsboro;
}

#switch:checked~main > section:nth-of-type(3) > article {
    background: transparent;
}

#switch:checked~main > section:nth-of-type(3) > article > div {
    box-shadow: 2px 10px 20px rgba(255, 250, 240, 0.466);
    background-color: rgb(221, 221, 221);
    color: grey;
}

#switch:checked~main > section:nth-of-type(4) {
    background: linear-gradient(40deg, rgba(58,58,58,1) 0%, rgba(0,0,0,1) 100%);
    background-blend-mode: hard-light;
    color: cornsilk;
}

#switch:checked~main > section:nth-of-type(4) > img {
    opacity: 0.8;
}



/* Scroll bar */

::-webkit-scrollbar{
    width: 6px;
    height: 0;
}

::-webkit-scrollbar-thumb{
    background: sienna;
}

::-webkit-scrollbar-track{
    background: aliceblue;
}

/* Navigation */

nav {
    position: fixed;
    z-index: 9;
    display: flex;
    justify-content: space-between;
    align-items: center;    
    background-color: aliceblue;
    width: 100%;
    height: 75px;
    box-shadow: -1px -1px 7px grey;
    animation-name: nav-enter;
    animation-duration: 1s;
}

nav > h1 {
    font-family: 'Aleo', serif;
    background: linear-gradient(180deg, orangered, burlywood);
    -webkit-background-clip: text;
    color: transparent;
    margin-left: 3vw;
    letter-spacing: 3px;
    font-size: 1.9rem;
}

nav > section:first-of-type {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 100px;
    gap: 20px;
}

nav > section:first-of-type > div{
    font-family: 'Krub', sans-serif;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    width: 100px;
    padding: 15px 0 15px 0;
    text-align: center;
    letter-spacing: 1px;
    font-size: 0.826rem;
}

nav > section:first-of-type > div:hover {
    cursor: pointer;
}

nav > section:first-of-type > div:last-of-type {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav > section:first-of-type > div:hover {
    border-top: 1px solid brown;
    border-bottom: 1px solid brown;
    animation-name: border-shrink;
    animation-duration: 0.5s;
}

/* Mobile navigation view */

nav > section:last-of-type {
    display: none;
}

#null, #submenu {
    display: none;
}

/* Hero and location input */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 95vh;
    background-image: url(https://images.pexels.com/photos/1026688/pexels-photo-1026688.jpeg?cs=srgb&dl=curry-delicious-food-delicious-indian-food-1026688.jpg&fm=jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header > input {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
    font-size: 27px;
    caret-color: orangered;
    padding-left: 2.5vw;
    border: 1px solid gainsboro;
    width: 50%;
    height: 65px;
    border-radius: 10px;
}

header > input::placeholder {
    letter-spacing: 2.4px;
    color: rgba(163, 163, 163, 0.5);
}

header > input:focus {
    outline: none;
    box-shadow: 0 0 4px 3px salmon;
}

header > button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: tomato;
    width: 170px;
    height: 65px;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    letter-spacing: 1.3px;
    color: rgb(24, 24, 24);
}

header > button:hover {
    cursor: pointer;
    background-color: rgb(223, 86, 62);
    box-shadow: 0 0 8px grey;
}

header > button:active {
    color: ivory;
    background-color: rgb(248, 114, 90);
    box-shadow: none;
}

/* Main section 1 */

body > main > section:nth-of-type(1) {
    padding: 150px 0 150px 0;
    background-color: cornsilk;
    background-image: url(https://d1ehbrjqbat2o3.cloudfront.net/20210825104726/assets/images/curly_arrow.png);
    transform: scaleX(-1);
}

body > main > section:nth-of-type(1) > article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 10vw;
    row-gap: 100px;
    width: 60%;
    margin: auto;
    transform: scaleX(-1);
}

body > main > section:nth-of-type(1) > article > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 30px;
    width: 16vw;
    height: 28vw;
    min-width: 160px;
    min-height: 320px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    background-color: whitesmoke;
    box-shadow: 1px 1px 20px grey;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 19px;
}

body > main > section:nth-of-type(1) > article > div > h2 {
    font-size: 27px;
    text-align: center;
}

body > main > section:nth-of-type(1) > article > div > img {
    height: 100px;
}

/* Main section 2 */

body > main > section:nth-of-type(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 100px 10vw 0 10vw;
}

body > main > section:nth-of-type(2) > img {
    width: 40vw;
}

body > main > section:nth-of-type(2) > p {
    background-image: url(https://d1ehbrjqbat2o3.cloudfront.net/20210825104726/assets/images/quote-mark.svg);
    background-position: top right;
    background-repeat: no-repeat;
    font-size: 5vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body > main > section:nth-of-type(2) > p > img {
    border: 1px solid chartreuse;
    border-radius: 10px;
}

/* Main section 3 */

body > main > section:nth-of-type(3) {
    height: 60vh;
    position: relative;
    overflow-x: hidden;
    padding: 100px 10vw 100px 10vw;
    background-color: ghostwhite;
    color: grey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 7vh;
    font-weight: lighter;
}

body > main > section:nth-of-type(3) > article {
    display: flex;
    align-items: center;
    gap: 60px;
    position: absolute;
    z-index: 3;
    margin-top: 50px;
    background-color: ghostwhite;
    animation-name: comments;
    animation-duration: 35s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

body > main > section:nth-of-type(3) > article:hover {
    animation-play-state: paused;
}

body > main > section:nth-of-type(3) > article > div {
    background-image: url(https://d1ehbrjqbat2o3.cloudfront.net/20210825104726/assets/images/quote-mark.svg);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 150px;
    width: 300px;
    min-height: 200px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    text-align: center;
    padding: 40px 20px 0 20px;
    border: 1px solid hotpink;
    border-radius: 30px;
    box-shadow: 2px 10px 20px grey;
}

/* Main section 4 */

body > main > section:nth-of-type(4) {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 60px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 100px 5vw 100px 5vw;
    background-image: url(https://d1ehbrjqbat2o3.cloudfront.net/20210825104726/assets/images/curly_arrow.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 300px;
    background-color: floralwhite;
}

body > main > section:nth-of-type(4) > div > p {
    font-size: 70px;
}

body > main > section:nth-of-type(4) > div > li {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

body > main > section:nth-of-type(4) > img {
    border: 1px solid greenyellow ;
    width: 600px;
}

/* Footer */

footer {
    height: 60px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: steelblue;
}

footer > div {
    display: flex;
    gap: 8vw;
}



@media (max-width: 750px) {
    nav > section:first-of-type {
        display: none;
    }

    nav > section:last-of-type {
        display: block;
    }

    nav > section:last-of-type > label {
        margin: 20px 85px 20px 0;
        cursor: pointer;
    }

    #null:checked~#submenu {
        padding: 40px 0 40px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 25px;
        position: absolute;
        width: 300px;
        height: 100vh;
        top: 10vh;
        right: 0;
        z-index: 10;
        background-color: aliceblue;
        box-shadow: 0 5px 20px grey;
    }
    
    #submenu > div {
        background-color: seashell;
        padding: 20px 0 20px 0;
        text-align: center;
        width: 100%;
    }

    header {
        gap: 20px;
        flex-direction: column;
    }

    header > input {
        font-size: 90%;
        border-radius: 5px;
        width: 80vw;
        height: 55px;
    }

    header > button {
        border-radius: 5px;
        width: 150px;
        height: 55px
    }

    body > main > section:nth-of-type(1) {
        padding: 70px 20px 70px 20px;
    }

    body > main > section:nth-of-type(2) {
        padding: 50px 20px 50px 20px;
        flex-direction: column;
    }

    body > main > section:nth-of-type(2) > img {
        width: 270px;
    }

    body > main > section:nth-of-type(2) > p {
        font-size: 30px;
    }

    body > main > section:nth-of-type(3) {
        overflow-x: hidden;
        font-size: 28px;
    }

    body > main > section:nth-of-type(3) > article > div {
        background-size: 10px;
        font-size: 20px;
        background-size: 140px;
        width: 280px;
        min-height: 180px;
    }

    body > main > section:nth-of-type(4) > img {
        width: 80vw;
    }

    body > main > section:nth-of-type(4) > div > p {
        font-size: 40px;
    }

    body > main > section:nth-of-type(4) > div > li {
        font-size: 16px;
    }

    body > footer {
        height: auto;
        font-size: 17px;
        flex-direction: column;
        row-gap: 30px;
        padding: 15px 0 20px 0;
    }
}

/* Animations */

@keyframes border-shrink {
    0% {
        padding: 50px 0 50px 0;
    }

    100% {
        padding: 15px 0 15px 0;
    }
}

@keyframes nav-enter {
    0% {
        transform: translateY(-50%);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes comments {
    0% {
        transform: translateX(-80%);
    }

    100% {
        transform: translateX(20%);
    }
}