body > main > section:nth-of-type(2) {
    @include flx-bx;
    gap: 20px;
    padding: 100px 10vw 0 10vw;

    & > img {
        width: 40vw;
    }

    & > p {
        @include bck-img(url(https://d1ehbrjqbat2o3.cloudfront.net/20210825104726/assets/images/quote-mark.svg), no-repeat, top right);
        font-size: 5vw;
        font-family: $verdana;

        & > img {
            border: 1px solid $cgreen;
            border-radius: 10px;
        }
    }
}