


//////////////////////////////colors/////////////////////////////



$gbwhite: gainsboro;
$gwhite: ghostwhite;
$awhite: aliceblue;
$swhite: seashell;
$cwhite: cornsilk;
$wwhite: whitesmoke;
$fwhite: floralwhite;
$iwhite: ivory;
$hwhite: honeydew;

$cgreen: chartreuse;

$sgreen: springgreen;

$hpink: hotpink;

$sblue: steelblue;

$ored: orangered;
$oredd: rgb(223, 86, 62);
$oredl: rgb(248, 114, 90);
$sred: salmon;
$tred: tomato;

$brown: brown;
$bwood: burlywood;

$grey: grey;

$black: black;
$lblack: rgb(58,58,58);
$dblack:  rgb(39,39,39);



/////////////////////////////////font-family//////////////////////////////////



$krub: 'Krub', sans-serif;
$aleo: 'Aleo', serif;
$segeo: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$trlx: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
$verdana: Verdana, Geneva, Tahoma, sans-serif;
$lsx: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$georgia: Georgia, 'Times New Roman', Times, serif;
$gill: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$hlvt: Arial, Helvetica, sans-serif;